@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  box-sizing: border-box;
}

body {
  /* height: 100vh; */
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;
  box-shadow: 1px 3px 5px rgba(241, 53, 109, 0.1);
}

.navbar-content {
  padding: 1em;
  margin: 1em;
}

.navbar-content a {
  color: #f1356d;
}

.navbar-content:last-child {
  margin-right: 10em;
}

.navbar .header {
  margin-left: 5em;
}

.navbar .header h2 a {
  color: #f1356d;
}

.blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 80vh;
}

.block-1 {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block-2 {
  margin: auto;
}

.landing-logo {
  width: 350px;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  margin: 10px;
  padding: 0.4em .9em;
  background-color: #f1356d;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.btn a {
  color: white;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
}

.btn a:hover {
  color: rgb(202, 190, 190);
}

.block-1 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.block-1 h1 {
  padding: 0.12em;
  font-size: 4em;
  box-shadow: 1px 3px 5px rgba(241, 53, 109, 0.1);
  margin-bottom: 20px;
  text-shadow: 0.025em 0.025em 0 grey, 0.05em 0.05em 0 #f1356d;
}

.header {
  display: flex;
  align-items: center;
}

.header i {
  font-size: 50px;
  margin-right: 0.5em;
  color: #f1356d;
}

.navbar .navbar-content a:hover {
  color: black;
}

.container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 44vw;
  justify-content: center;
  min-height: 80vh;
}

#admin-container {
  width: 100vw;
}

.container-1>h1 {
  padding: 0.12em;
  font-size: 4em;
  box-shadow: 1px 3px 5px rgba(241, 53, 109, 0.1);
  text-shadow: 0.025em 0.025em 0 grey, 0.05em 0.05em 0 #f1356d;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
}

.container-2 {
  display: flex;
  /* justify-content: space-evenly; */
  margin-top: 2em;
  align-items: center;
  width: 100vw;
  flex-wrap: wrap;
  flex: 1 1 0px;
}

.container-2 h1 {
  color: #f1356d;
  font-size: 40px;
}

.book-container {
  box-shadow: 1px 3px 5px rgba(241, 53, 109, 0.1);
  padding: 1.5em 2em;
  border-radius: 10px;
  margin: 1em;
  width: 25vw;
  min-width: 350px;
}

.text-mute {
  opacity: 0.5;
}

.book-details {
  margin-top: 1em;
  margin-bottom: 1em;
}

.book-container p {
  font-size: 1.1em;
}

.book-heading {
  margin-bottom: 1em;
}

.button-buy {
  color: white;
  width: 100%;
  padding: 0.6em 1em;
  margin-top: 1em;
  background-color: #f1356d;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.search-bar-container {
  border: 2px solid #f1356d;
  border-radius: 5px;
  padding: 20px 10px;
  margin: 10px 20px;
}

.search-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.search-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.search-button {
  margin: 10px;
  padding: 0.6em 2em;
  background-color: #f1356d;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  border-radius: 10px;
  font-size: 1em;
}

.search-form-box {
  margin: 10px 10px;
  box-shadow: 1px 3px 5px rgba(241, 53, 109, 0.1);
  /* padding: 8px 4px; */
}

.search-form-box label {
  font-weight: bold;
  font-size: 1.3em;
}

.search-button:hover {
  color: rgb(202, 190, 190);
}

table {
  width: 100vw;
  border-collapse: collapse;
  margin: 10px 20px;
}

table, th, td {
  border: 2px solid #f1356d;
}

th, td {
  padding: 15px;
  text-align: left;
}

th {
  color: white;
  font-size: 1.1em;
  background-color: #f1356d;
  border-right-color: white;
}

th:last-child {
  border-right-color: #f1356d;
}

.table-row-copy button {
  margin: 0 10px;
  border: none;
  color: #f1356d;
  background-color: transparent;
  border: 1px solid #f1356d;
}

.table-row-copy button:hover {
  border-color: black;
  background-color: whitesmoke;
  color: black;
}

.table-row-copy i {
  color: #f1356d;
}

.table-row-copy button:hover i {
  color: black;
}

.delete-record-button {
  padding: 0.4em 1em;
  background-color: transparent;
  border: 1px solid #f1356d;
  outline-style: solid;
  outline-color: #f1356d;
  outline-offset: 2px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  color: #f1356d;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-size: 0.8em;
}

.delete-record-button:hover {
  color: black;
  background-color: whitesmoke;
}

.add-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-container div {
  margin: 1em;
}

.form-container h1 {
  padding: 0.12em;
  font-size: 3em;
  box-shadow: 1px 3px 5px rgba(241, 53, 109, 0.1);
  text-shadow: 0.025em 0.025em 0 grey, 0.05em 0.05em 0 #f1356d;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 0.5em;
}

.form-container input {
  min-width: 40vw;
  border: none;
  outline-color: #f1356d;
  outline-offset: 2px;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  height: 1.8em;
  margin-right: 1em;
  margin-left: 1em;
}

.form-content input:first-child {
  margin-top: 1em;
}

.form-content {
  background-color: #ee99b2;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-content button {
  margin: 10px;
  padding: 0.6em 2em;
  background-color: #f1356d;
  border: 1px solid #f1356d;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  border-radius: 10px;
  font-size: 1em;
}

.form-content button:hover {
  color: #f1356d;
  background-color: white;
  border: 1px solid #f1356d;
}

.record-add {
  font-size: 2.5em;
}

.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
}

.not-found h1 {
  padding: 0.12em;
  font-size: 3em;
  box-shadow: 1px 3px 5px rgba(241, 53, 109, 0.1);
  text-shadow: 0.025em 0.025em 0 grey, 0.05em 0.05em 0 #f1356d;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 0.5em;
}

.not-found button {
  height: 3em;
  font-size: .9em;
}